@value variables: "../../../styles/variables.css";
@value content_width_large from variables;

.scrollable-image {
  position: relative;
  width: 70%;
  max-width: content_width_large;
  margin: 0 auto;
  overflow-y: auto;
}

.scrollable-image.full-width {
  width: 100%;
}

.scrollable-image-frame {
  position: relative;
  width: 100%;
}

.scrollable-image-inner {
  position: absolute;
  left: 15.19%;
  width: 69.78%;
  top: 12.33%;
  height: 74.14%;
  overflow: hidden;
  overflow-y: scroll;
}
