@value colors: "../../../styles/colors.css";
@value light_grey, default_background_color from colors;

.header {
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid light_grey;
  background-color: default_background_color;
}

.title {
  margin: 0;
  font-size: 16px;
}

.menu {
  margin-left: auto;
  font-size: 14px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu a {
  text-decoration: none;
}
