@value colors: "../../../styles/colors.css";
@value light_grey, white from colors;

.footer {
  padding: 0 20px;
  font-size: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid light_grey;
  background-color: white;
}
